body {
  background-color: #042643;
}

* {
  transition: all 0.3s;
}
.card-img-top {
  height: 28vh;
  width: 100%;
}

.btn btn-grey {
  background-color: grey;
}

.card-dark {
  background-color: grey;
}
